<nav class="bg-gray-800 py-4">
    <div class="container mx-auto px-4 mx-auto flex justify-between items-center">
        <div class="flex space-x-4">
            <a href="/invoices" class="text-white hover:text-gray-300 {{if eq .active "invoices"}}font-bold border-b-2 border-white{{end}}">Fakture</a>
            <a href="/suppliers" class="text-white hover:text-gray-300 {{if eq .active "suppliers"}}font-bold border-b-2 border-white{{end}}">Dobavljači</a>
            <a href="/items" class="text-white hover:text-gray-300 {{if eq .active "items"}}font-bold border-b-2 border-white{{end}}">Proizvodi</a>
            <a href="/company" class="text-white hover:text-gray-300 {{if eq .active "company"}}font-bold border-b-2 border-white{{end}}">Firma</a>
        </div>
    </div>
</nav>
