<div class="card-body">
    <form id="companyForm" hx-post="/company" hx-target="this" hx-swap="outerHTML">
        <div class="mb-4">
            <!-- <h5 class="mb-3">Company Information</h5> -->
            <div class="input-group">
                <span class="input-group-text">Name</span>
                <input type="text" name="Name" id="Name" class="form-control" placeholder="Company Name" value="{{.company.Name}}" required>
                <span class="input-group-text">Address</span>
                <input type="text" name="Address" id="Address" class="form-control" placeholder="Address" value="{{.company.Address}}">
            </div>
        </div>

        <div class="mb-4">
            <!-- <h5 class="mb-3">Contact Information</h5> -->
            <div class="input-group">
                <span class="input-group-text">Owner</span>
                <input type="text" name="Owner" id="Owner" class="form-control" placeholder="Owner" value="{{.company.Owner}}">
                <span class="input-group-text">User</span>
                <input type="text" name="User" id="User" class="form-control" placeholder="User" value="{{.company.User}}">
            </div>
        </div>

        <div class="mb-4">
            <!-- <h5 class="mb-3">Sector Information</h5> -->
            <div class="input-group">
                <span class="input-group-text">Code</span>
                <input type="text" name="Code" id="Code" class="form-control" placeholder="Company Code" value="{{.company.Code}}" required>
                <span class="input-group-text">Sector Code</span>
                <input type="text" name="SectorCode" id="SectorCode" class="form-control" placeholder="Sector Code" value="{{.company.SectorCode}}" required>
                <span class="input-group-text">Sector</span>
                <input type="text" name="Sector" id="Sector" class="form-control" placeholder="Sector" value="{{.company.Sector}}" required>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check"></i>
                </button>
            </div>
        </div>
    </form>
</div>