<div id="invoiceContent">
    <h3>Invoice #{{.InvoiceID}}</h3>
    <form id="manageLineItems" hx-target="#lineItemsTable tbody" hx-swap="beforeend">
        <input type="hidden" name="invoiceID" value="{{.InvoiceID}}">

        <div class="mb-3">
            <form id="newLineItem" hx-post="/invoices/{{.InvoiceID}}/line-items" hx-include="#itemId, #itemQuantity, #sellingPrice">
                <div class="input-group">
                    <select id="itemId" name="itemId" class="form-select" required>
                        <option value="">Select an item</option>
                        {{range .Items}}
                            <option value="{{.ID}}" data-default-price="{{.Price}}">{{.Name}} - {{.Price}} per {{.Unit}}</option>
                        {{end}}
                    </select>
                    <input type="number" id="itemQuantity" name="quantity" class="form-control" min="1" value="1" required>
                    <input type="number" id="sellingPrice" name="sellingPrice" class="form-control" step="0.01" min="0" required>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </form>
        </div>

        <table id="lineItemsTable" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <!-- <div id="invoiceSummary" hx-get="/invoices/{{.InvoiceID}}/summary" hx-trigger="load, every 2s from:body"></div> -->

        <button hx-post="/invoices/{{.InvoiceID}}/finalize" hx-target="#invoiceContent" class="btn btn-primary mt-2">Finalize Invoice</button>
    </form>
</div>