<div class="container mt-4">
    <h5>Create New Invoice</h5>
    <form id="startInvoice" hx-post="/invoices" hx-target="body" hx-swap="outerHTML">
    <!-- <form id="startInvoice" hx-post="/invoices" hx-target="#invoiceContent" hx-swap="innerHTML"> -->
        <div class="input-group">
            <select name="supplierID" class="form-select" required>
                <option value="">Select Supplier</option>
                {{range .suppliers}}
                    <option value="{{.ID}}">{{.Name}} - {{.Address}}</option>
                {{end}}
            </select>
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-plus"> Start </i>
            </button>
        </div>
</form>
    <div id="invoiceContent"></div>
</div>