<div id="invoiceForm" class="container">
    <div class="container mt-4">
        <h5>Invoices List</h5>
        <table id="invoicesTable" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Supplier</th>
                    <th>Address</th>
                    <th>Subtotal</th>
                    <th>Tax Amount</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{range .invoices}}
                    {{template "invoice.html" .}}
                {{end}}
            </tbody>
        </table>
    </div>

    {{template "invoice-create-form.html" .}}
</div>