<tr class="line-item" data-id="{{.ItemID}}">
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">{{.Name}}</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <span class="text-sm text-gray-900">{{.Quantity}}</span>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <span class="text-sm text-gray-900">{{.Price}}</span>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <span class="text-sm text-gray-900">{{.PriceDifference}}%</span>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <span class="text-sm text-gray-900">{{.Value}}</span>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <button type="button"
             hx-delete="/invoices/{{.InvoiceID}}/items/{{.ItemID}}"
             hx-target="closest tr" 
             hx-swap="outerHTML" 
             class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline">
            <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>