<tr>
    <td>{{.Name}}</td>
    <td>\${{.SellingPrice}}</td>
    <td>{{.Unit}}</td>
    <td>{{.Quantity}}</td>
    <td>\${{.Subtotal}}</td>
    <td>\${{.TaxAmount}}</td>
    <td>\${{.Total}}</td>
    <td>
        <button hx-delete="/invoices/{{.InvoiceID}}/line-items/{{.LineItemID}}" 
                hx-target="closest tr" 
                hx-swap="outerHTML"
                hx-confirm="Are you sure?"
                class="btn bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded btn-sm">Remove</button>
    </td>
</tr>