<form id="supplierCreateForm" hx-post="/suppliers" hx-target="#suppliersTable tbody" hx-swap="beforeend">
    <div class="input-group">
        <input type="text" name="Name" class="form-control" placeholder="Supplier name" required>
        <input type="text" name="Address" class="form-control" placeholder="Address" required>
        <button type="submit" class="btn bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded">
            <i class="bi bi-plus"></i>
        </button>
    </div>
</form>
